


<div class="page-content-wrapper" ng-app="groupEditApp" ng-controller="groupEditCtrl">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">

    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <a href="<%=sails.config.routesPrefix%>/dashboard">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">Group</span>
      </li>
    </ul>
    <input type="hidden" id="groupid" value="<%=req.param('id')%>"> </input>
    <div class="row" >
     <div class="col-md-12">
       <div class="portlet light portlet-fit portlet-form bordered">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-commenting-o font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Edit Group </span>
          </div>

        </div>

        <form  class="form-horizontal" name="groupEditForm" novalidate>
          <div class="form-body">

           <div class="form-group">
            <label class="control-label col-md-2"  >Group Name
              <span class="required"> * </span>
            </label>
            <div class="col-md-7">
              <input type="text" name="name" ng-model="name"  class="form-control" ng-class="{ 'has-error' : groupEditForm.name.$invalid && !groupEditForm.name.$pristine }" ng-pattern="/^[a-zA-Z ]*$/" ng-blur="checkgroup()"  required /> 

            </div>
            <div class="col-md-offset-2 col-md-3" >
             <div class="" ng-messages="groupEditForm.name.$error">

              <div ng-message="pattern" style="color:#a94442">Only characters are allowed.</div>
            </div>
            <span class=" ng-hide" ng-show="(groupEditForm.name.$touched || submitted) && groupEditForm.name.$error.required"
            style="color:#a94442">Name is required.</span>
            <span class=" ng-hide" ng-show="groupExist"  style="color:#a94442">Group is already exists.</span>


          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" >Group Purpose
           <span class="required"> * </span>
         </label>
         <div class="col-md-7">
          <select  class="bs-select form-control" ng-model="purpose" name="purpose" ng-class="{ 'has-error' : groupEditForm.purpose.$invalid && !groupEditForm.purpose.$pristine }" multiple 
          required />

          <option value="Ask the Expert">Ask the Expert</option> 
          <option value="Closure">Closure</option> 
        </select> 

      </div>
      <div class="col-md-offset-2 col-md-3">
        <span class="ng-hide" ng-show="(groupEditForm.purpose.$touched || groupEditForm.$submitted) && groupEditForm.purpose.$error.required"
        style="color:#a94442">Purpose is required.</span>
      </div>
    </div>
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box ">
      <div class="portlet-title">
       <div class="caption" style="color: grey">
         Select User 
       </div>
       <div class="tools "></div>
     </div>
     <div class="portlet-body">
      <table class="table table-striped table-bordered table-hover" id="user_grp_edit_list">
      </table>
    </div>
  </div> 
</div>
<div class="form-actions">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <button type="submit" ng-click="editGroup(groupEditForm)" ng-disabled="!groupEditForm.$valid" class="btn green button-rounder">Save</button>
      <a type="button" class=" btn grey-salsa btn-outline button-rounder" href="<%=sails.config.routesPrefix%>/group/all">Cancel</a>
    </div>
  </div>
</div>

</form>
</div>
</div>
</div>
</div> 
</div>
<script type="text/javascript">
    highlightMenu(["group"]);
</script>
