 <link href="<%=sails.config.assetURL%>/pages/css/faq.min.css" rel="stylesheet" type="text/css" />
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
               <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
          <ul class="page-breadcrumb breadcrumb">
                        <li>
                             <a href="<%=sails.config.routesPrefix%>/dashboard">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">FAQ</span>
                        </li>
                    </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->

<div class="faq-page faq-content-1">
         <div class="faq-content-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="faq-section bordered">
                                        <h2 class="faq-title uppercase font-blue">General</h2>
                                        <div class="panel-group accordion faq-content" id="accordion1">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <i class="fa fa-circle"></i>
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">  Can I export and print Complete JHIC Report ?                                       </a>   </h4>
                                                </div>
                                                <div id="collapse_1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p> Yes, you can export the complete JHIC report as a pdf file and can print it. </p>
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                                      </div>                                
                                      
                                                        <div class="panel-group accordion faq-content" id="accordion1">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <i class="fa fa-circle"></i>
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2"> How can I get help if I have a question ?                                       </a>   </h4>
                                                </div>
                                                <div id="collapse_2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p> You can go to Ask the Expert section and ask a question for any help from expert. </p>

                                                    </div>
                                                </div>
                                            </div>
                                                      </div>

                                   

                                    </div>

                                         
                                   </div> 
                               <div class="col-md-6">
                                    <div class="faq-section bordered">
                                        <h2 class="faq-title uppercase font-blue">Facility Closure</h2>
                                        <div class="panel-group accordion faq-content" id="accordion2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                     <i class="fa fa-circle"></i>
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">How much time does it take to close a facility ?</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_2_1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p> It depends on the facility closure reason.  </p>
                                                                                                          </div>
                                                </div>
                                            </div>
                                                                                        </div>
                                        </div>
                                    </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<script>
    highlightMenu(["faq"]);
</script>
