<!-- BEGIN HEADER -->
<style type="text/css">
@media (max-width: 500px) and (min-width: 50px) {
.footer_align{
	margin-left: 35%;
	line-height: 0.5;
}
}
</style>
<div class="page-footer" style="background-color:white;height:50px">
    <div class="page-footer-inner" >
    	<img height="36px" src="<%=sails.config.assetURL%>/images/wb_logo.png" alt="logo" class="logo-default" /> 
    	© 2017 The World Bank Group, <span class="footer_align">All Rights Reserved.</span></div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END HEADER -->