
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-app="userListApp" ng-controller="userListCtrl">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">

    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <a href="<%=sails.config.routesPrefix%>/dashboard">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">User Management</span>
      </li>
    </ul>
    
    <div class="row" >
     <div class="col-md-3">
      <a href="<%=sails.config.routesPrefix%>/user/add" class="btn green button-rounder" > 
       <i class="fa fa-plus"></i>  Add User
     </a>
   </div>
 </div>    
 <br>
 <% if(req.flash('userDeletedMessage') != ""){ %>
 <div id="hide">
    <div  class="alert alert-success alert-dismissable" >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      User deleted successfully.
    </div> 
    </div>
    <%}%> 
    <% if(req.flash('userUpdatedMessage') != ""){ %>
    <div id="hide">
    <div  class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      User updated successfully.
    </div>
    </div>
    <%}%> 
    <% if(req.flash('userAddedMessage') != ""){ %>
    <div id="hide">
    <div  class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      User added successfully.
    </div>
    </div>
    <%}%> 

 <div id="logedinUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logedinUser" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-warning" style="color: #8a6d3b">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        
        <span class="panel-icon"><i class="fa fa-exclamation-circle"></i>
        </span>
        <span class="modal-title"> Warning</span>
      </div>
      <div class="modal-body">
        <p> This user is already logged in.You can not delete this user. </p>
        
      </div>
      <div class="modal-footer">
       
        
        <button class="btn blue" data-dismiss="modal" aria-hidden="true">Ok</button>
      </div>
    </div>
  </div>
</div>








<div id="deleteConfirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-danger" style="color: #a94442">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                 <!--    <span class="glyphicon glyphicon-trash"/>
                                                    <div class="modal-title "> 
                                                   <h4>Delete User</h4>
                                                    
                                                 </div> -->
                                                 <span class="panel-icon"><i class="glyphicon glyphicon-trash"></i>
                                                 </span>
                                                 <span class="modal-title "> Delete User</span>
                                               </div>
                                               <div class="modal-body">
                                                <p> Are you sure you want to delete this user ? </p>
                                              </div>
                                              <div class="modal-footer">

                                                <button data-dismiss="modal" ng-click="deleteUser()" class="btn blue">Yes</button>
                                                <button class="btn default" data-dismiss="modal" aria-hidden="true">No</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row" >
                                          <div class="col-md-12">


                                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                            <div class="portlet box" style="background-color: white">
                                              <div class="headerSection">
                                                <div class="headerLabelSection">

                                                 User List

                                                </div>
                                                <div class="tools "></div>
                                              </div>
                                              <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover" id="userlist">
                                                  <thead>
                                                    <tr>
                                                    <th style="display:none;">Id</th>
                                                      <th class="centerContent"> Name</th>
                                                      <th class="centerContent"> Email</th>
                                                      <th class="centerContent"> Role</th>
                                                      <th class="centerContent">Organization</th>
                                                      <th class="centerContent"> County</th>
                                                      <th class="centerContent"> Actions</th>
                                                    </tr>
                                                  </thead>
                                                </table>
                                              </div>
                                            </div>
                                            <!-- END EXAMPLE TABLE PORTLET-->
                                          </div>
                                        </div>

                                        <div id="reportDiv">

                                        </div>
                                      </div>
                                      <!-- END PAGE CONTENT INNER -->
                                    </div>

                                    <script>
                                      highlightMenu(["userManagement"]);
                                      $('#hide').delay(1000).fadeOut(3000);

                                    </script>


