 <!-- BEGIN CONTENT -->
 <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

      <div class="row">
          <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-unlock-alt font-red"></i>
                  <span class="caption-subject font-red sbold uppercase">Change Password</span>
              </div>

          </div>
          <div class="row">
            <label class="control-label col-md-5 italic">
              <i style="margin-left:15px">
                 Fields marked with a   <span class="required"> * </span>  are mandatory </i>
             </label>

         </div>
         <div class="portlet-body" ng-app="changePasswordApp"  ng-controller="changePasswordCtrl">
            <form  class="form-horizontal"  name="changePasswordForm" novalidate>
             <div class="alert alert-danger  ng-hide" ng-show="invalid ">
                    <button class="close" data-close="alert"></button>
                    <span class="help-block " style="color:#a94442">Invalid Username or Password</span>
                </div>
              <div class="form-body">

                  <div class="form-group">
                    <label class="control-label col-md-3">Email
                      <span class="required"> * </span>
                  </label>
                  <div class="col-md-4">
                      <input name="email" type="email" ng-model="email" class="form-control" ng-class="{ 'has-error' : changePasswordForm.email.$invalid && !changePasswordForm.email.$pristine }" 
                      required /> 

                  </div>
                  <div ng-messages="changePasswordForm.email.$error">
                      <div class="col-md-3 " ng-message="email" style="color:#a94442">Email is invalid.</div>
                  </div>

                  <p class="col-md-3 ng-hide" ng-show="(changePasswordForm.email.$touched || submitted)
                  && changePasswordForm.email.$error.required"  style="color:#a94442">Email is required.</p>

              </div> 


              <div class="form-group">
                <label class="control-label col-md-3">Old Password
                  <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                  <input  type="password" name="oldPassword" ng-model="oldPassword"  class="form-control" ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid 
                  && !changePasswordForm.oldPassword.$pristine }" ng-minlength="5" ng-maxlength="10" required /> 

              </div>
              <div class="col-md-3">
              <p class=" ng-hide" ng-show="(changePasswordForm.oldPassword.$touched || submitted) && changePasswordForm.oldPassword.$error.required"
              style="color:#a94442">Password is required.</p>

              <p  style="color:#a94442">Minimum Length is 5.</p>

              <p ng-show="changePasswordForm.oldPassword.$error.maxlength"
              class="" style="color:#a94442">Maximum Length is 10.</p>
              </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3">New password
              <span class="required"> * </span>
          </label>
          <div class="col-md-4">
              <input  type="password" name="newPassword" ng-model="newPassword"  class="form-control" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid 
              && !changePasswordForm.newPassword.$pristine }" ng-minlength="5" ng-maxlength="10"  required /> 

          </div>
          <div class="col-md-3">
          <p class=" ng-hide" ng-show="(changePasswordForm.newPassword.$touched || submitted) 
          && changePasswordForm.newPassword.$error.required"
          style="color:#a94442">New Password is required.</p>

          <p ng-show="changePasswordForm.newPassword.$error.minlength"
              class=" ng-hide" style="color:#a94442">Minimum Length is 5.</p>

              <p ng-show="changePasswordForm.newPassword.$error.maxlength"
              class=" ng-hide" style="color:#a94442">Maximum Length is 10.</p>
              </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Confirm new password
          <span class="required"> * </span>
      </label>
      <div class="col-md-4">
          <input  type="password" name="confirmPassword" ng-disabled="changePasswordForm.newPassword.$invalid" ng-model="confirmPassword"  class="form-control" ng-class="{ 'has-error' : changePasswordForm.confirmPassword.$invalid 
          && !changePasswordForm.confirmPassword.$pristine }"  required /> 

      </div>

      <p class="col-md-3 ng-hide" ng-show="invalidPassword"
      style="color:#a94442">Passwords don't match.</p>
      <p class="col-md-3 ng-hide" ng-show="(changePasswordForm.confirmPassword.$touched || submitted) && changePasswordForm.confirmPassword.$error.required"
      style="color:#a94442">Please enter New Password again.</p>
  </div>
  <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <button type="submit" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(changePasswordForm)" class="btn green">Change</button>
            <a type="button" class="btn grey-salsa btn-outline" href="<%=sails.config.routesPrefix%>/dashboard">Cancel</a>
        </div>
    </div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>

</div>
</div>
