<html>
<head>
	<style> 
		html, body {
			height: 100%;
		}
		.pageOneMain {
			height: 100%;
			width: 100%;
			display: table;
		}
		.pageOneWrapper {
			display: table-cell;
			height: 100%;
			vertical-align: middle;
		}
		.pageOneH1 {
			text-align: center;
			color : #31708f;
		}
		.pageOneH3 {
			text-align: center;
			color : #31708f;
		}
	</style>
</head>
<body>
	<div class = "pageOneMain">
		<div class = "pageOneWrapper">
			<center>
			<img src="../images/hf_level_report_logo.jpg" width="100px" height="100px">
			</center>
			<h1 class="pageOneH1">
				The Joint Health<br/> Inspection Checklist<br/> (Inpatient and Outpatient)
			</h1>

			<h3 class="pageOneH3">
				Checklist for Singular or Joint Inspections for Public and<br/> Private Providers by Health Regulatory Bodies under the<br/> Ministry of Health
			</h3>
		</div>	
	</div>
</body>
</html>